.hero {
  &__container-1 {
    grid-template-areas:
      'hero-title hero-title hero-title hero-title'
      'hero-title hero-title hero-title hero-title'
      'hero-content hero-content hero-content hero-content'
      'hero-banner hero-banner hero-banner hero-banner';
  }

  &__title {
    grid-area: hero-title;
    padding: 0.5em 1em;
  }

  &__content {
    margin: 1.5em auto;
    grid-area: hero-content;
    display: flex;
    flex-direction: column;
  }


}
