:root {
  /**    COLORS    **/

  // Primary Colors (best for backgrounds)
  --blue: #D1E3FF;
  --red: #FF8FA3;
  --purple: #C6B8FF;
  --yellow: #FFC800;
  --green: #239F93;
  --pink: #FF8FE9;

  // Highlight Colors (best for highlights, use sparingly)
  --highlight-red: #FF002E;
  --highlight-green: #00B5A4;
  --highlight-pink: #FF00CD;
  
  // Light Colors (best for text on dark backgrounds)
  --light-blue: #DDE4F0;
  --light-yellow: #FFFBED;

  // Dark Colors (best for backgrounds with minimal text)
  --dark-blue: #002E75;
  --dark-red: #5E0011;
  --dark-purple: #410094;

  --black: #000000;

  /**    TYPOGRAPHY    **/

  // Font-Family
  --ff-content: 'Inter', sans-serif;
  --ff-title: 'Inconsolata', monospace;
  --ff-link: 'IBM Plex Mono', monospace;

  // Font-Size
  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 0.9375rem;
  --fs-500: 1rem;
  --fs-600: 1rem;
  --fs-700: 1.5rem;
  --fs-800: 3.5rem;
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);

  @include respond(tab) {
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 2.5rem;
    --fs-800: 5rem;
  }

  @include respond(desktop) {
    --fs-400: 1.125rem;
    --fs-500: 1.75rem;
    --fs-600: 2rem;
    --fs-700: 3.5rem;
    --fs-800: 6.25rem;
  }

  // Letter Spacing
  --ls-sm: 0.0625em;
  --ls-md: 0.125em;
  --ls-lg: 0.25em;

  /**    BOX SHADOWS    **/

  // Text Shadows
  --txs-1: 0.0625em 0.0625em 0 var(--purple);

  --txs-dark: 0 0 0.125em var(--black);

  // Box Shadows
  --bxs-xs: 0.25em 0.25em 0 var(--black);
  --bxs-sm: 0.5em 0.5em 0 var(--black);
  --bxs-md: 0.75em 0.75em 0 var(--black);
  --bxs-lg: 1em 1em 0 var(--black);
  --bxs-xl: 1.25em 1.25em 0 var(--black);

  //   --bxs-xxl: 1.5em 1.5em 0 var(--primary-800);

  /**    BORDERS    **/

  --border-xxs: 0.0625em solid var(--black);
  --border-xs: 0.125em solid var(--black);
  --border-sm: 0.1865em solid var(--black);
  --border-md: 0.25em solid var(--black);
  --border-lg: 0.3125em solid var(--black);
  --border-xl: 0.375em solid var(--black);

  /**    BORDER RADIUS    **/

  --br-200: 0.25em;
  --br-300: 0.5em;
  --br-400: 0.75em;
  --br-500: 1em;
  --br-600: 1.25em;
  --br-700: 1.5em;
  --br-800: 1.75em;
  --br-900: 2em;

  /**    TRANSITIONS    **/

  --transition-snap: all 0.3s cubic-bezier(0.5, 0.5, 0.3, 0.1);
  --transition-soft: all 0.6s ease-in;
}
