:root {
  /**    COLORS    **/

  // Extra Lights (used for text)
  --blue-200: #e0edff;
  --red-200: #fff0f0;
  --purple-200: #f1e6ff;
  --yellow-200: #fffceb;
  --green-200: #edffef;
  --orange-200: #fff2e6;

  // Light (used for backgrounds with dark text)
  --blue-300: #b8d4ff;
  --red-300: #ffbfbf;
  --purple-300: #d5b5ff;
  --yellow-300: #fff4ba;
  --green-300: #baffc1;
  --orange-300: #ffd6b0;

  // Primary (used for backgrounds with no text)
  --blue-400: #87b7ff;
  --red-400: #ff9090;
  --purple-400: #ba85ff;
  --yellow-400: #ffeb82;
  --green-400: #90ff9b;
  --orange-400: #ffc590;

  // Vibrant (used for highlights or small backgrounds)
  --blue-500: #0066ff;
  --red-500: #ff0000;
  --purple-500: #6f00ff;
  --yellow-500: #ffd600;
  --green-500: #00ff1a;
  --orange-500: #ff7a00;

  // Darks (used for backgrounds with light text)
  --blue-600: #00265e;
  --red-600: #590000;
  --purple-600: #2b0063;
  --yellow-600: #705e00;
  --green-600: #004707;
  --orange-600: #5c2c00;

  --black: #000000;

  /**    TYPOGRAPHY    **/

  // Font-Family
  --ff-content: 'Inter', sans-serif;
  --ff-title: 'Inconsolata', monospace;
  --ff-link: 'IBM Plex Mono', monospace;

  // Font-Size
  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 0.9375rem;
  --fs-500: 1rem;
  --fs-600: 1rem;
  --fs-700: 1.5rem;
  --fs-800: 3.5rem;
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);

  @include respond(tab) {
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 2.5rem;
    --fs-800: 5rem;
  }

  @include respond(desktop) {
    --fs-400: 1.125rem;
    --fs-500: 1.75rem;
    --fs-600: 2rem;
    --fs-700: 3.5rem;
    --fs-800: 6.25rem;
  }

  // Letter Spacing
  --ls-sm: 0.0625em;
  --ls-md: 0.125em;
  --ls-lg: 0.25em;

  /**    BOX SHADOWS    **/

  // Text Shadows
  --txs-1: 0.0425em 0.0425em 0 var(--red-400), 0.0825em 0.0825em 0 var(--green-400),
    0.1225em 0.1225em 0 var(--purple-400);

  // Box Shadows
  --bxs-xs: 0.25em 0.25em 0 var(--black);
  --bxs-sm: 0.5em 0.5em 0 var(--black);
  --bxs-md: 0.75em 0.75em 0 var(--black);
  --bxs-lg: 1em 1em 0 var(--black);
  --bxs-xl: 1.25em 1.25em 0 var(--black);

  //   --bxs-xxl: 1.5em 1.5em 0 var(--primary-800);

  /**    BORDERS    **/

  --border-xxs: 0.0625em solid var(--black);
  --border-xs: 0.125em solid var(--black);
  --border-sm: 0.1865em solid var(--black);
  --border-md: 0.25em solid var(--black);
  --border-lg: 0.3125em solid var(--black);
  --border-xl: 0.375em solid var(--black);

  /**    BORDER RADIUS    **/

  --br-200: 0.25em;
  --br-300: 0.5em;
  --br-400: 0.75em;
  --br-500: 1em;
  --br-600: 1.25em;
  --br-700: 1.5em;
  --br-800: 1.75em;
  --br-900: 2em;

  /**    TRANSITIONS    **/

  --transition-snap: all 0.3s cubic-bezier(0.5, 0.5, 0.3, 0.1);
  --transition-soft: all 0.6s ease-in;
}
