.bxs-xs { box-shadow: var(--bxs-xs); }
.bxs-sm { box-shadow: var(--bxs-sm); }
.bxs-md { box-shadow: var(--bxs-md); }
.bxs-lg { box-shadow: var(--bxs-lg); }
.bxs-xl { box-shadow: var(--bxs-xl); }
.bxs-xxl { box-shadow: var(--bxs-xxl); }

.txs-1 { text-shadow: var(--txs-1); }

.txs-black { text-shadow: var(--txs-dark); }