@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flexSpaceAround {
    display: flex;
    align-items: center;
    justify-content: space-around;
}